<a href="https://colab.research.google.com/github/ashwin6cs/Goeduhub-Tasks/blob/main/Assignment-2/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **GO_STP_5856 - Ashwin S**

## Assignment-2

1) Is a list mutable?

In [ ]:
# Yes, list is Mutable.

a = [1,2,3,4,5]
a[0] = 6
a

[6, 2, 3, 4, 5]

2) Does a list need to be homogeneous?

In [ ]:
# It can be homogeneous and it is also heterogeneous.

b = [1, 2.0, "aaa", True]
b

[1, 2.0, 'aaa', True]

3) What is the difference between a list and a tuple.

In [ ]:
# The main difference between list and tuple is where list is mutable and tuple is immutable.

a1 = [1,2,3,4,5]
a1[0] = 6
print(a1)
a2 = (1,2,3,4,5)
a2[0] = 8
print(a2) # it will raise an error...

[6, 2, 3, 4, 5]

TypeError: ignored

4) How to find the number of elements in the list?

In [ ]:
# Without using in-built
a = [1,2,3,4,5]
n=0
for i in a:
  n+=1
print(n)

# using in-built
len(a)

5

5

5) How to check whether the list is empty or not?

In [ ]:
a = []
if(len(a)):
  print("List is not empty")
else:
  print("List is empty")

List is empty

6) How to find the first and last element of the list?

In [ ]:
a = [1,2,3,4,5]
print("The First element of the list is",a[0])
print("The Lat element of the list is",a[len(a)-1])

The First element of the list is 1
The Lat element of the list is 5

7) How to find the largest and lowest value in the list?

In [ ]:
a = [34, 56,12, 9, 5, 3, 45]
print("The largest value in the list is",max(a))
print("The lowest value in the list is",min(a))

The largest value in the list is 56
The lowest value in the list is 3

8) How to access elements of the list?

In [ ]:
# By using indexing or slicing.
a =[1,2,3,4,5]
print(a[3])
print(a[1:3])

4
[2, 3]

9) Remove elements in a list before a specific index

In [ ]:
a = [1,2,3,4,5,6,7]
index = int(input("Specify the index: "))
del a[0:index]
print(a)

Specify the index: 5
[6, 7]

10) Remove elements in a list between 2 indices

In [ ]:
a = [2,6,7,9,13,56,19,34,67]
n = input("Enter the starting & ending index: ").split(",")
del a[int(n[0])+1:int(n[1])]
print(a)

Enter the starting & ending index: 2,7
[2, 6, 7, 34, 67]

11) Return every 2nd element in a list between 2 indices

In [ ]:
a = [2,6,7,9,13,56,19,34,67]
n = input("Enter the starting & ending index: ").split(",")
n1 = a[int(n[0])+1:int(n[1])]
print("The sliced list: ",n1)
print(n1[1])

Enter the starting & ending index: 2,7
The sliced list:  [9, 13, 56, 19]
13

12) Get the first element from each nested list in a list

In [ ]:
a=[[1,2,3],[4,5,6],[7,8,9]]
for i in a:
  print(i[0])

1
4
7

13) How to modify elements of the list?

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
a[2] = 10
a[4:6]=11,12
a.pop(0)
a.insert(1,33)
a.remove(10)
a

[2, 33, 4, 11, 12, 7, 8, 9]

14) How to concatenate two lists?

In [ ]:
a1 = [1,2,3]
a2 = [4,5,6]
print(a1+a2)

b1 = [1,2,3]
b2 = [4,5,6]
for i in b2:
  b1.append(i)
print(b1)

c1 = [1,2,3]
c2 = [4,5,6]
c1.extend(c2)
print(c1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

15) How to add two lists element-wise in python?

In [ ]:
a1 = [1,2,3,4,5]
a2 = [6,7,8,9,10]
sum = []
for i in range(0,len(a1)):
   n = a1[i]+a2[i]
   sum.append(n)
print(sum)

[7, 9, 11, 13, 15]

16) Difference between del and clear?

In [ ]:
a1 = [1,2,3,4,5]
del a1[1]
print(a1)

a2 = [3,4,5,6,7,8]
a2.clear()
print(a2)

[1, 3, 4, 5]
[]

17) Difference between remove and pop?

In [ ]:
a1 = [1,2,3,4,5]
a1.remove(3)
print(a1)

a2 = [3,4,5,6,7,8]
print(a2.pop())
print(a2.pop(1))

[1, 2, 4, 5]
8
4

18) Difference between append and extend?

In [ ]:
a1 = [1,2,3,4,5] 
a1.append(6)
print(a1)

a1.extend([7,8,9,10,11])
print(a1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

19) Difference between indexing and Slicing?

In [ ]:
a1 = [1,2,3,4,5] 
print(a1[0])
print(a1[1:4])

1
[2, 3, 4]

20) Difference between sort and sorted?

In [ ]:
a1 = [7,1,0,9,5,13,56,19,34,67]
print("Sorted list",sorted(a1))
print("Original list", a1)

print("\t")
a1 = [7,1,0,9,5,13,56,19,34,67]
a1.sort()
print("Sorted list",a1)
print("Original list", a1)

Sorted list [0, 1, 5, 7, 9, 13, 19, 34, 56, 67]
Original list [7, 1, 0, 9, 5, 13, 56, 19, 34, 67]

Sorted list [0, 1, 5, 7, 9, 13, 19, 34, 56, 67]
Original list [0, 1, 5, 7, 9, 13, 19, 34, 56, 67]

21) Difference between reverse and reversed?

In [ ]:
countries = ['India', 'USA', 'China', 'Japan', 'UK']
print('Original List of Countries:', countries)

# List Reverse
countries.reverse()

# updated list
print('Updated List of Countries:', countries)
print("\t")
seqList = [1, 2, 4, 3, 5]
print("Using Reversed: ",list(reversed(seqList)))

Original List of Countries: ['India', 'USA', 'China', 'Japan', 'UK']
Updated List of Countries: ['UK', 'Japan', 'China', 'USA', 'India']

Using Reversed:  [5, 3, 4, 2, 1]

22) Difference between copy and deepcopy?

In [ ]:
import copy
list1 = [ 1, [2, 3] , 4 ]
list2 = list1.copy()
list3 = copy.deepcopy(list1)
list1.append(5)
list1[1][1] = 999
print("list 1 after modification:\n", list1)
print("list 2 after modification:\n", list2)
print("list 3 after modification:\n", list3)

list 1 after modification:
 [1, [2, 999], 4, 5]
list 2 after modification:
 [1, [2, 999], 4]
list 3 after modification:
 [1, [2, 3], 4]

23) How to remove duplicate elements in the list?

In [ ]:
a1 = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
print(list(set(a1)))

[1, 2, 3, 4, 5]

24) How to find an index of an element in the python list?

In [ ]:
a = [5,6,7,8,9,10,11,12]
a.index(10)

5

25) How to find the occurrences of an element in the python list?

In [ ]:
a1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]
dict = {}
for i in a1:
  if(i not in dict):
     dict[i] = a1.count(i)
print(dict)

{8: 5, 6: 1, 10: 2, 20: 1}

26) How to insert an item at a given position?

In [ ]:
n1 = int(input("Enter the index: "))
n2 = int(input("Enter the element: "))
a=[5,6,7,8,9]
a.insert(n1,n2)
print(a)

Enter the index: 3
Enter the element: 23
[5, 6, 7, 23, 8, 9]

27) How to check if an item is in the list?

In [ ]:
n = int(input("Enter the number to be checked: "))
a = [3,8,1,2,89,45,23,99]
if(n in a):
  print("The given item is present in the list")
else:
  print("The given item is not present in the list")

Enter the number to be checked: 99
The given item is present in the list

28) How to flatten a list in python?

In [ ]:
import numpy as np
a=[[1,2,3],[4,5,6],[7,8,9]]
a1 = np.array(a).ravel()
print(list(a1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29) How to convert python list to other data structures like set, tuple, dictionary?

In [ ]:
a1 = [3,8,1,2,89,45,23,99]
print(tuple(a1))
print(set(a1))

a2 = ['a', 1, 'b', 2, 'c', 3,'d', 5]
dict = {}
for i in range(0, len(a2), 2):
  dict[a2[i]] = a2[i+1]
print(dict)

(3, 8, 1, 2, 89, 45, 23, 99)
{1, 2, 3, 99, 8, 45, 23, 89}
{'a': 1, 'b': 2, 'c': 3, 'd': 5}

30) How to apply a function to all items in the list?

In [ ]:
# map method
def square(integer):
    return integer**2
  
print(list(map(square, [5,6,7,8,9])))

# list comprehension
def square(integer):
    return integer**2
  
print([square(i) for i in [5,6,7,8,9]])

# Using Lambda Function
lst = [1, 2, 3]
ans = []
for x in lst:
    def res(x): return x*2
    ans.append(res(x))
print(ans)

[25, 36, 49, 64, 81]
[25, 36, 49, 64, 81]
[2, 4, 6]

31) How to filter the elements based on a function in a python list?

In [ ]:
print(list(filter(lambda x: x % 2 == 0, [0, 1, 2, 3, 5, 8, 13])))

[0, 2, 8]

32) How python lists are stored in memory?

Lists are stored in distinct chunks of memory which are linked together with pointers, which enables efficient use of memory generally and doesn't require resizing. ... Arrays, by contrast, are stored in sequential slabs of contiguous memory of fixed size, which enables efficient indexing and random access.

## **Thank You...**